{% extends "layout.html" %}
{% block content %}

<img src="static/images/info.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>What is Khoj Kar ?</h1>
        </header>
        
        <div class="w3-container">
          <p>
            Khoj kar is service initiated by the Indian government.
            It helps in finding missing people. The government ties up with local services and uses face-recognition technologies to track missing individuals.
          </p>

        </div>
        
        <footer class="w3-container w3-blue-grey">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue-grey">
              <h1>Methods</h1>
            </header>
            
            <div class="w3-container">
              <p>
                A missing person is an individual whose whereabouts are unknown and whose disappearance is a matter of concern to their family, friends, or authorities. They may have disappeared voluntarily or involuntarily due to various reasons such as abduction, foul play, accidents, mental health issues, or simply getting lost. 
                Finding missing persons often involves collaboration between law enforcement agencies, communities, and sometimes specialized search and rescue teams.
                To utilize your project for finding missing persons, you'd start by gathering images of missing and non-missing individuals. Preprocess these images, train a Convolutional Neural Network (CNN) 
                to recognize missing persons, test its accuracy, and finally deploy it for real-world use in identifying missing individuals from images.
              </p>

            </div>
            <footer class="w3-container w3-blue-grey">
                <h5></h5>
              </footer>
              
              </div>
            
           
        <div class="w3-card-4 w3-margin">

                    <header class="w3-container w3-blue-grey">
                      <h1>Advantages</h1>
                    </header>
                    
            <div class="w3-container">
                      <p>
                        Using this model for identifying missing persons offers several benefits. It efficiently analyzes images to find missing individuals, ensuring accuracy through proper training and testing. Automation reduces manual effort, 
                        while scalability allows adaptation to different datasets and image qualities. Most importantly, it provides vital support to law enforcement and communities in promptly locating missing persons.
                      </div>
                    
                    <footer class="w3-container w3-blue-grey">
                      <h5></h5>
                    </footer>
                    
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue-grey">
              <h1>Limitations</h1>
            </header>
            
            <div class="w3-container">
              <p>
                
                This model’s limitations include its reliance on high-quality and diverse datasets for effective training, potential ethical concerns 
                related to privacy and consent when using individuals' images, the risk of biases influencing identification accuracy, resource-intensive requirements for training and maintenance, and constraints on performance in scenarios with poor image quality or unique environmental conditions. 
                These challenges need careful consideration for responsible and effective deployment of your project.
            </p>
            </div>
            
            <footer class="w3-container w3-blue-grey">
              <h5></h5>
            </footer>
            
            </div>        
{% endblock %}